@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

:root {
  --primary-color: purple;
  --secondary-color: white;
  --text-color: #333;
  --background-color: rgba(109, 45, 229, 0.806);
}

html {
  font-size: 10px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar {
  background-color: var(--background-color);
  font-size: 20px;
  padding: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 0.7em;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
}
.nav-icon {
  font-size: 2em;
  color: var(--secondary-color);
}
.icon-container{
    display: none;
}
.heading {
  color: var(--secondary-color);
}
.profileimg {
  height: 5rem;
  width: 7rem;
  border-radius: 50%;
}
.btn {
  border-radius: 1rem;
  background-color: var(--secondary-color);
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.3em;
}

.small-screen-list {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: var(--background-color);
  z-index: 100;
}

.small-screen-list li {
  margin: 1em 0;
}
.small-screen-list li:hover {
  background-color: var(--secondary-color);
  width: 80vw;
  border-radius: 3rem;
  padding: 0.5rem;
}
.small-screen-list li:hover a {
  color: var(--text-color);
}

.hidden {
  display: none !important;
}

@media (min-width: 0px) and (max-width: 700px) {
  .list {
    display: none;
  }
  .icon-container{
    display: block;
  }
}
