/* balance card section */
.accounts{
    font-size: 20px ;
    font-weight: bolder;
    align-self: flex-start;
}

.ballance-card{
    position: relative;
    font-size: 20px;
    height: 15rem;
    width: 35rem;
    color: var(--secondary-color);
    background-color: rgba(255, 145, 0, 0.881);
}

.amount{
    font-size: larger;
    font-weight: 900;
    color: var( --text-color);
}

.wallet-icon{
   
    align-self: flex-start;
    left: 2em;
}
.card-number{
    font-weight: 800;
}
/* end of card balance section */

/* withdraw deposite section */

.withdraw-card{
    color: var(--secondary-color);
    width: 25rem;
    height: 25rem;
    background-color: var(--background-color);
}

.action-explain-left{
    padding: 1rem;
    border-left: 3px solid var(--background-color);
    border-bottom: 3px solid var(--background-color) ;
    margin: 0 1rem;
}
.action-explain-right{
    padding: 1rem;
    border-right: 3px solid var(--background-color);
    border-bottom: 3px solid var(--background-color) ;
    margin: 0 1rem;

}
.section-title{
    
    width: 70%;
    padding: 1rem;
    
    text-align: center;
    border-radius: 2rem;
}

.error-text{
    color: red;
    font-size: 14px;
    font-weight: 900;
}
/*End of withdraw deposite section */


/* service page */
.toggleSection{
    height: 70vh;
    position: relative;
}

/* ===== */
/* about us page */
    .about{
        font-size: 20px;
        height: fit-content;
        padding: 4rem;
        width: 70%;
        border-radius: 5rem;
        background-color: rgba(126, 121, 114, 0.79);
    }
    .about-section{
        font-size: 15px;
        font-weight: 700;
    }
    .about-card{
        width: 30%;
    }
    .about-body{
        height: 90%;
    }
    .about-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        }
        .about-title{
            text-align: center;
            font-size: 3rem;
            font-weight: bolder;
        }
/* ===== */
.profile-title{
    width: 10%;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}


@media (min-width: 0px) and (max-width: 700px) {
    .create-wallet{
        width: 90vw;
    }
    .withdraw-section{
        flex-direction: column;
    }
    .ballance-card{
        width: 60%;
        height: 15rem;
        flex-wrap: nowrap !important;
        font-size: 15px;
    }
   .about-info{
   flex-direction: column;
   }
   .about-card {
    width: 73%;
}
  }